.form__textinput {
  border: 0;
  border-bottom: 1px solid #cccccc;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 13px;
}

.form__textinput:focus {
  outline: 0;
}
