.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 20px;
  column-gap: 18px;
  margin-bottom: 66px;
}

@media screen and (max-width: 425px) {
  .gallery {
    margin-bottom: 48px;
  }
}
