.form__submit-button {
  min-height: 50px;
  background-color: #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
  border-radius: 2px;
  transition: opacity 0.4s;
  cursor: pointer;
}

.form__submit-button:hover {
  opacity: 0.8;
}

.form__submit-button:focus {
  outline: none;
}
