.profile__description {
  max-width: 300px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 425px) {
  .profile__description {
    max-width: 201px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
