.header {
  max-width: 882px;
  width: 68.90625%;
  min-height: 74px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
  box-sizing: border-box;
  margin-top: 45px;
  margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
  .header {
  min-width: 100%;
  min-height: 56px;
  margin-top: 28px;
  margin-bottom: 42px;
  }
}
